
@font-face {
    font-family: Veneer;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Veneer.ttf") format("opentype");
}


@font-face {
    font-family: 'veneerlowresregular';
    src: url('../fonts/veneerlowres-webfont.eot');
    src: url('../fonts/veneerlowres-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/veneerlowres-webfont.woff') format('woff'),
         url('../fonts/veneerlowres-webfont.ttf') format('truetype'),
         url('../fonts/veneerlowres-webfont.svg#veneerlowresregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'veneerlowres_tworegular';
    src: url('veneerlowrestwo-webfont.eot');
    src: url('veneerlowrestwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('veneerlowrestwo-webfont.woff') format('woff'),
         url('veneerlowrestwo-webfont.ttf') format('truetype'),
         url('veneerlowrestwo-webfont.svg#veneerlowres_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Avenir;
    src: url("../fonts/Adobe - AvenirLTStd-Medium.ttf") format("opentype");
}

@font-face {
    font-family: Avenir-Heavy;
    src: url("../fonts/Adobe - AvenirLTStd-Heavy.ttf") format("opentype");
}

@font-face {
    font-family: 'Spartan';
    src:url('../fonts/Spartan.eot?ra9r5l');
    src:url('../fonts/Spartan.eot?#iefixra9r5l') format('embedded-opentype'),
        url('../fonts/Spartan.woff?ra9r5l') format('woff'),
        url('../fonts/Spartan.ttf?ra9r5l') format('truetype'),
        url('../fonts/Spartan.svg?ra9r5l#Spartan') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Spartan';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0.7;
    font-size: 32px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\e600";
}
.icon-next:before {
    content: "\e601";
}
.icon-back:before {
    content: "\e602";
}
.icon-down:before {
    content: "\e603";
}
.icon-up:before {
    content: "\e604";
}
.icon-clear:before {
    content: "\e605";
}
.icon-minus:before {
    content: "\e606";
}

html, body{
    font-family: Avenir;
    font-size:10px;
    background: #11110f;
}

a:hover{
    opacity:.5;
}

form{
    display:none;
}

.background {
    background: #11110f;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    display:none;
}

.background .top {
    margin-top:200px;
    height: 665px;
    width: 100%;
    background: url(../img/background-top.jpg) left top repeat;
}

.background .bottom {
    height: 50%;
    background: url(../img/background-tile.jpg) left top repeat;
}

header{
    position: relative;
    height: 80px;
    border-bottom: 4px solid #acacac;
    z-index:400;
    opacity:0;
    -webkit-transform: rotateZ(0);
}

header .logo{
    float: left;
    margin-left: 8.33333%;
}

header .logo a:hover{
    opacity:1;
}

header .links{
    float: right;
    margin-right: 8.33333333333%;
    font-size: 190%;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 31px;
    letter-spacing: 1px;
    font-family:Avenir-Heavy;
}

header .links a{
    color: #acacac;
    text-decoration: none;
    margin-left: 25px;
}

.example2{
    display:none;
    top:20px;
    left:20px;
    position:relative;
}

.title{
    position:relative;
    text-align: center;
    margin-top: 35px;
}

.title h1{ 
    font-family: veneerlowres_tworegular;
    color: #fff;
    font-size: 1160%;
    font-weight: normal;
    margin:0;
    line-height:1em;
    -webkit-transform: rotateZ(0);
    position:relative;
 }

.title h2{
    font-family: Avenir-Heavy, sans-serif;
    color: #e01e3c;
    text-transform: uppercase;
    font-size: 260%;
    margin:0;
    -webkit-transform: rotateZ(0);
    position:relative;
 }

.title .title1 h1,
.title .title1 h2{
    opacity:0;
}

.title .title2{
    display:none;
}

.title.end .title1{
    display:none;
}

.title.end .title2{
    display:inline-block;
}

.instructions{
    position: relative;
    font-size: 260%;
    color: white;
    width: 600px;
    margin: 31px auto 0;
    line-height: 1.3em;
    z-index:200;
    opacity:0;
    -webkit-transform: rotateZ(0);
}

.instructions .instruction{
    display:none;
}

.instructions .instruction1{
    display:block;
}

.instructions .contents{
    float: left;
    -webkit-font-smoothing: antialiased;

}

.instructions .cta,
.instructions .cancel,
.instructions .clear{
    cursor:pointer;
    -ms-transition: border-color 0.4s ease;
    -moz-transition: border-color 0.4s ease;
    -webkit-transition: border-color 0.4s ease;
    transition: border-color 0.4s ease;
}

.instructions .cta.upload{
    width: 190px;
    padding-top: 14px;
    height:36px;
}

.instructions .cta .upload{
    position:relative;
    top:-4px;
}

.instructions .cta a{
    color:#dddddd;
    text-decoration:none;
}
.instructions .cta a:hover{
    opacity:1;
}

.instructions .cta:hover,
.instructions .cancel:hover{
    border: 3px solid #ffffff;
}

.instructions .cta.active,
.instructions .cancel.active,
.instructions .clear.active{
    text-indent: -9999px;
    border-color: rgba(255, 255, 255, 0.0);
}

.instructions .cta.active span,
.instructions .cancel.active span,
.instructions .clear.active span{
    -ms-animation-name: smoke;
    -moz-animation-name: smoke;
    -webkit-animation-name: smoke;
    -o-animation-name: smoke;
    animation-name: smoke;
    -ms-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -o-animation-duration: 1000ms;
    animation-duration: 1000ms;
}

.instructions .cta,
.instructions .next,
.instructions .cancel,
.instructions .facebook,
.instructions .twitter{
    float: right;
    font-size: 96%;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #838383;
    color: #dddddd;
    line-height: 27px;
    width: 145px;
    border-radius: 2px;
    height: 35px;
    padding-top: 13px;
    font-family:Avenir-Heavy;
}

.instructions .cancel{
    margin-right: 3%;
    color: #838383;
}

.instructions .clear{
    font-size: 96%;
    text-transform: uppercase;
    color: #dddddd;
    font-family:Avenir-Heavy;
    height: 32px;
    position: absolute;
    right: 0;
    top: 83px;
    width: 131px;
}

.instructions .clear span{
    position: relative;
    top: 4px;
}

.instruction5 .next,
.instructions .facebook,
.instructions .twitter{
    width:186px;
}

.instructions .facebook{
    margin-right:12px;
}

.instructions .twitter{
    float:left;
}

/*
.controls span, .instructions .clear  {
    color: #838383;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.controls span:hover, .instructions .clear:hover  {
    color: #fff;
}
*/
.controls span, .instructions .clear  {
    color:rgba(255, 255, 255, 0.70);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.controls span:hover, .instructions .clear:hover  {
    color:rgba(255, 255, 255, 1);
}

.overlay{
    position:absolute;
    background-color:#11110f;
    opacity:.67;
    display:none;
}

.overlay-top{
    top:0;
    left:0;
    width:100%;
    height:450px;
    z-index:100;
}

.overlay-bottom{
    top: 1050px;
    left:0;
    width:100%;
    height:50%;
    z-index:100;
}

.container{
    padding:82px 0;
    overflow:hidden;
    position:relative;
    width:100%;
    opacity:0;
    -webkit-transform: rotateZ(0);
}

.sub-container{
    width:600px;
    height:600px;
    margin:0 auto;
    position:relative;
    background-image: url('../img/example1.jpg');
    background-size:100%;
    background-position:20px 20px;
}

.image-container, .image-border, .erase_canvas, .erase_canvas_overlay{
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
}

.erase_canvas{
    opacity:.6;
}

.image-border{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-300px;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('../img/image-overlay.png') no-repeat;
    width: 600px;
    height: 600px;
}

.image-overlay-rocks{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('../img/image-overlay-rocks.png') no-repeat;
    width: 640px;
    height: 760px;
    margin-left: -20px;
    margin-top: -80px;
}

.erase_canvas, .erase_canvas_overlay{
    position:absolute;
    top:0;
    left:0;
}

.erase_canvas_overlay{
    display:none;
}

.image-container .cropper{
    display:none;
    position:absolute;
    top:0;
    left:0;
    -webkit-transform: rotateZ(0);
}

.image-container .cropped-image{
    display:none;
    width:100%;
}

.container .crop { cursor: move; }

.container .overlay-left{
    top:0;
    left:-50%;
    height:600px;
    width:100%;
    margin-left:-300px;
}

.container .overlay-right{
    top:0;
    left:50%;
    height:600px;
    width:100%;
    margin-left:300px;
}

.controls{
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: 135px;
    display:none;
    top: 381px;
    z-index: 200;
    margin-left: 208px;
}

.controls div{
    color: white;
    font-size: 400%;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

.notice{
    display:none;
}

.upload_iframe{
    width:100px;
    height:100px;
    display:none;
}

.writing-text{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}

.writing-text textarea{
    width:100%;
    text-align: center;
    outline: none !important;
    background-color:transparent;
    border:none;
    color:white;
    text-transform:uppercase;
    font-family:Arial;
}

.writing-text .write1{
    position:absolute;
    top:10px;
    font-family:veneerlowres_tworegular;
    text-align: left;
    margin-left: 42px;
    margin-top: 25px;
    font-size: 100px;
    width: 516px;
    line-height: .8em;
    overflow: hidden;
}

.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index:300;
}
 
.pageload-overlay.show {
    visibility: visible;
}
 
.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
}
 
.pageload-overlay svg path {
    fill: #11110f;
}

.pageload-overlay .text {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    color: #838383;
    font-family: Avenir-Heavy;
}

footer{
    position: relative;
    background-color: #121013;
    margin-top: 15px;
    z-index:400;
    opacity:0;
}

footer .contents{
    margin: 0 8.33333%;
    color: #dddddd;
    padding-top: 58px;
}

footer .contents .sub-contents{
    float: left;
    width: 32.33333%;
    border-right:1px solid #29282A;
}

footer .contents h6{
    text-transform: uppercase;
    font-size: 180%;
    margin: 0;
    font-family:Avenir-Heavy;
    font-weight:normal;
}

footer .contents p{
    line-height: 1.5em;
    font-size: 160%;
    padding-right: 12%;
}

footer .contents a{
    margin-left: -1.6%;
}

footer .contents .sub-contents2{
    padding-left: 2%;
    width: 34.33333%;
}

footer .contents .sub-contents2 a{
    margin-left:-2.1%;
}

footer .contents .sub-contents3{
    padding-left: 2%;
    width: 28.33333%;
    border-right: none;
}

footer .contents .sub-contents3 p{
    padding:0;
}

footer .contents .sub-contents3 .social{
    margin-left: -1.2%;
    margin-top: 37px;
    width:200px;
}

footer .contents .sub-contents3 a{
    text-indent: -999em;
    background: transparent url('../img/social-icons.jpg') no-repeat;
    height: 40px;
    display: inline-block;
    width: 38px;
}

footer .contents .sub-contents3 .facebook{
    background-position: -39px 0;
}

footer .contents .sub-contents3 .pinterest{
    background-position: -73px 0;
}

footer .contents .sub-contents3 .twitter{
    background-position: -113px 0;
}

footer .contents .sub-contents3 .venmo{
    background-position: -151px 0;
}

footer .bottom{
    color: #dddddd;
    text-transform: uppercase;
    font-size: 140%;
    margin: 50px 0 0;
    padding-bottom: 25px;
    border-top: 1px solid #29282A;
    padding-top: 16px;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
}

footer .copyright{
    float: left;
    background: transparent url('../img/logo_small.jpg') no-repeat;
    background-position: -5px -8px;
    padding: 9px 0 15px 51px;
    margin-left: -.3%;
}

footer .links{
    float: right;
    margin-right: 1%;
    padding: 9px 0;
}

footer .links a{
    color: #dddddd;
    text-decoration: none;
    margin-left: 6px;
}

footer .links a:first-child{
    margin-right: 5px;
    margin-left: 0;
}

.placement{
    position:absolute;
    top:0;
    left:50%;
    opacity:.3;
    background:transparent url('../img/placement.jpg') no-repeat;
    width:1200px;
    height:1513px;
    margin-left:-600px;
}

#dp_swf_engine{
    display:none;
}

@-webkit-keyframes smoke{
    0%{
        text-shadow: 5000px 0 0 rgba(153, 153, 153, 1);
    }
    90%{
        text-shadow: 5000px -40px 20px rgba(153, 153, 153, 0);
    }
    100%{
        text-shadow: 5000px 0 0 rgba(0, 0, 0, 0);
    }
}
@-moz-keyframes smoke{
    0%{
        text-shadow: 5000px 0 0 rgba(153, 153, 153, 1);
    }
    90%{
        text-shadow: 5000px -40px 20px rgba(153, 153, 153, 0);
    }
    100%{
        text-shadow: 5000px 0 0 rgba(0, 0, 0, 0);
    }
}


@media only screen and (max-width: 900px){
    html, body{
        font-size:9px;
    }
}

@media only screen and (max-width: 800px){
    html, body{
        font-size:8px;
    }
}

@media only screen and (max-width: 660px){
    .background .top{
        margin-top:100px;
    }

    .background .bottom{
        height:30%;
    }

    header{
        height:60px;
    }

    header .logo{
        margin-left:4%;
    }

    header .logo img{
        height:60px;
    }

    header .links{
        font-size: 150%;
        letter-spacing: 0;
        margin-right: 4%;
        margin-top:23px;
    }

    header .links a{
        margin-left: 14px;
    }

    header .links a:first-child{
        margin-left: 0;
    }

    .title{
        margin-top: 30px;
        width: 400px;
        margin: 30px auto 0;
        max-width: 100%;
    }

    .title h1{
        font-size:690%;
    }

    .title h2{
        font-size:150%;
    }

    .instructions{
        width: 300px;
        font-size: 180%;
        margin-top: 37px;
    }

    .container{
        padding:41px 0;
    }

    .sub-container{
        width:300px;
        height:300px;
    }

    .image-overlay{
        width: 300px;
        height: 300px;
        background-size: 100%;
    }

    .image-overlay-rocks{
        width: 320px;
        height: 380px;
        margin-left: -10px;
        margin-top: -40px;
        background-size: 100%;
    }

    .image-border{
        margin-left:-150px;
    }
    
    .overlay-top{
        height: 243px;
    }

    .overlay-bottom{
        top: 536px;
    }

    .container .overlay-left{
        height: 300px;
        margin-left: -150px;
    }

    .container .overlay-right{
        height: 300px;
        margin-left: 150px;
    }

    .controls{
        margin-left: 40px;
    }

    .instructions .cta,
    .instructions .next,
    .instructions .cancel,
    .instructions .facebook,
    .instructions .twitter{
        width: 72px;
        height: 17px;
        padding-top: 6px;
        line-height: 14px;
        font-size: 80%;
    }

    .instruction5 .next,
    .instructions .facebook,
    .instructions .twitter{
        width:86px;
    }

    .instructions .clear{
        top: 41px;
        background-size: 100%;
        height: 16px;
        width: 66px;
    }

    .writing-text .write1{
        top: 5px;
        margin-left: 21px;
        margin-top: 12px;
        font-size: 50px;
        width: 258px;
    }

    footer .contents{
        padding-top:34px;
    }

    footer .contents .sub-contents{
        float:none;
        width:100% !important;
        padding-bottom:20px;
        border-right:none;
        border-bottom:1px solid #29282A;
    }

    footer .contents .sub-contents2{
        margin-top:21px;
        padding-left:0;
    }

    footer .contents .sub-contents3{
        margin-top:21px;
        border:none;
        padding-bottom:0;
        padding-left:0;
    }

    footer .contents .sub-contents3 .social{
        margin-top:15px;
    }

    footer .bottom{
        margin-top:25px;
    }

    footer .links{
        float: none;
        clear: both;
        text-align: center;
    }
}

@media only screen and (max-width: 400px){
    header{
        height:40px;
    }

    header .logo img{
        height:40px;
    }

    header .links{
        font-size: 150%;
        margin-top:12px;
    }

    header .links a{
        margin-left: 7px;
    }

    .title{
        width: 350px;
    }

    .overlay-top{
        height: 216px;
    }

    .overlay-bottom{
        top:516px;
    }

    .instructions{
        width:280px;
    }

    .instructions .next,
    .instructions .cancel,
    .instructions .facebook,
    .instructions .twitter{
        width:66px;
    }

    .instruction5 .next,
    .instructions .facebook,
    .instructions .twitter{
        width:79px;
    }
}