@font-face {
    font-family: Veneer;
    src: url("../fonts/Veneer.ttf") format("opentype");
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/Adobe - AvenirLTStd-Medium.ttf") format("opentype");
}

@font-face {
    font-family: Avenir-Heavy;
    src: url("../fonts/Adobe - AvenirLTStd-Heavy.ttf") format("opentype");
}

html, body{
    font-family: Avenir;
    font-size:10px;
}

a:hover{
    opacity:.5;
}

form{
    display:none;
}

.background {
    background: #11110f;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
}

.background .top {
    margin-top:200px;
    height: 665px;
    width: 100%;
    background: url(../img/background-top.jpg) left top repeat;
}

.background .bottom {
    height: 50%;
    background: url(../img/background-tile.jpg) left top repeat;
}

header{
    position: relative;
    height: 80px;
    border-bottom: 4px solid #acacac;
}

header .logo{
    float: left;
    margin-left: 8.33333%;
}

header .logo a:hover{
    opacity:1;
}

header .links{
    float: right;
    margin-right: 8.33333333333%;
    font-size: 190%;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 31px;
    letter-spacing: 1px;
    font-family:Avenir-Heavy;
}

header .links a{
    color: #acacac;
    text-decoration: none;
    margin-left: 25px;
}

.title{
    position:relative;
    text-align: center;
    margin-top: 61px;
}

.title img{
    max-width:90%;
}

.title .title2{
    display:none;
}

.title.end .title1{
    display:none;
}

.title.end .title2{
    display:inline-block;
}

.instructions{
    position: relative;
    font-size: 260%;
    color: white;
    margin-top: 74px;
    width: 600px;
    margin: 74px auto 0;
    line-height: 1.3em;
    z-index:200;
}

.instructions .instruction{
    display:none;
}

.instructions .instruction1{
    display:block;
}

.instructions .contents{
    float: left;
}

.instructions .cta,
.instructions .cancel,
.instructions .clear{
    cursor:pointer;
}

.instructions .cta a{
    color:#dddddd;
    text-decoration:none;
}
.instructions .cta a:hover{
    opacity:1;
}

.instructions .cta:hover,
.instructions .cancel:hover,
.instructions .clear:hover{
    opacity:.5;
}

.instructions .instruction1 .cta{
    background: transparent url('../img/button_upload.png') no-repeat;
    width: 190px;
    height: 56px;
    text-indent: -999em;
    float: right;
}

.instructions .next,
.instructions .cancel,
.instructions .facebook,
.instructions .instagram{
    float: right;
    font-size: 96%;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #838383;
    color: #dddddd;
    line-height: 25px;
    width: 145px;
    border-radius: 2px;
    height: 35px;
    padding-top: 13px;
    letter-spacing: 1px;
    font-family:Avenir-Heavy;
}

.instructions .cancel{
    margin-right: 3%;
    color: #838383;
}

.instructions .clear{
    font-size: 96%;
    text-transform: uppercase;
    color: #dddddd;
    letter-spacing: 1px;
    font-family:Avenir-Heavy;
    height: 32px;
    position: absolute;
    right: 0;
    top: 83px;
    background-image: url('../img/button_clear.png');
    width: 131px;
    text-indent:-999em;
}

.instruction5 .next,
.instructions .facebook,
.instructions .instagram{
    width:186px;
}

.instructions .facebook{
    margin-right:12px;
}

.instructions .instagram{
    float:left;
}

.overlay{
    position:absolute;
    background-color:#11110f;
    opacity:.67;
    display:none;
}

.overlay-top{
    top:0;
    left:0;
    width:100%;
    height:449px;
    z-index:100;
}

.overlay-bottom{
    top: 1049px;
    left:0;
    width:100%;
    height:50%;
    z-index:100;
}

.container{
    padding:82px 0;
    overflow:hidden;
    position:relative;
    width:100%;
}

.sub-container{
    width:600px;
    height:600px;
    margin:0 auto;
    position:relative;
    background-image: url('../img/example.jpg');
    background-size:100%;
}

.image-container, .image-border, .erase_canvas, .erase_canvas_overlay{
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
}

.erase_canvas{
    opacity:.6;
}

.image-border{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-300px;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('../img/image-overlay.png') no-repeat;
    width: 600px;
    height: 600px;
    display:none;
}

.image-overlay-rocks{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('../img/image-overlay-rocks.png') no-repeat;
    width: 640px;
    height: 760px;
    margin-left: -20px;
    margin-top: -80px;
}

.erase_canvas, .erase_canvas_overlay{
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.image-container .cropper{
    display:none;
    position:absolute;
    top:0;
    left:0;
    -webkit-transform: rotateZ(0);
}

.image-container .cropped-image{
    display:none;
    width:100%;
}

.container .overlay-left{
    top:0;
    left:-50%;
    height:600px;
    width:100%;
    margin-left:-300px;
}

.container .overlay-right{
    top:0;
    left:50%;
    height:600px;
    width:100%;
    margin-left:300px;
}

.controls{
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: 135px;
    display:none;
}

.controls div{
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    line-height: 37px;
    text-align: center;
    font-size: 300%;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    border:1px solid white;
}

.notice{
    display:none;
}

.upload_iframe{
    width:100px;
    height:100px;
    display:none;
}

.writing-text{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.writing-text textarea{
    width:100%;
    text-align: center;
    outline: none !important;
    background-color:transparent;
    border:none;
    color:white;
    text-transform:uppercase;
    font-family:Arial;
}

.writing-text .write1{
    position:absolute;
    top:10px;
    font-family:Veneer;
    text-align: left;
    margin-left: 42px;
    margin-top: 25px;
    font-size: 100px;
    width: 516px;
    line-height: .8em;
    overflow: hidden;
}

footer{
    position: relative;
    background-color: #121013;
    margin-top: 15px;
}

footer .contents{
    margin: 0 8.33333%;
    color: #dddddd;
    padding-top: 58px;
}

footer .contents .sub-contents{
    float: left;
    width: 32.33333%;
    border-right:1px solid #29282A;
}

footer .contents h6{
    text-transform: uppercase;
    font-size: 180%;
    margin: 0;
    font-family:Avenir-Heavy;
    font-weight:normal;
}

footer .contents p{
    line-height: 1.5em;
    font-size: 160%;
    padding-right: 12%;
}

footer .contents a{
    margin-left: -1.6%;
}

footer .contents .sub-contents2{
    padding-left: 2%;
    width: 34.33333%;
}

footer .contents .sub-contents2 a{
    margin-left:-2.1%;
}

footer .contents .sub-contents3{
    padding-left: 2%;
    width: 28.33333%;
    border-right: none;
}

footer .contents .sub-contents3 p{
    padding:0;
}

footer .contents .sub-contents3 .social{
    margin-left: -1.2%;
    margin-top: 37px;
    width:200px;
}

footer .contents .sub-contents3 a{
    text-indent: -999em;
    background: transparent url('../img/social-icons.jpg') no-repeat;
    height: 40px;
    display: inline-block;
    width: 38px;
}

footer .contents .sub-contents3 .facebook{
    background-position: -39px 0;
}

footer .contents .sub-contents3 .pinterest{
    background-position: -73px 0;
}

footer .contents .sub-contents3 .instagram{
    background-position: -113px 0;
}

footer .contents .sub-contents3 .venmo{
    background-position: -151px 0;
}

footer .bottom{
    color: #dddddd;
    text-transform: uppercase;
    font-size: 140%;
    margin: 50px 0 0;
    padding-bottom: 25px;
    border-top: 1px solid #29282A;
    padding-top: 16px;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
}

footer .copyright{
    float: left;
    background: transparent url('../img/logo_small.jpg') no-repeat;
    background-position: -5px -8px;
    padding: 9px 0 15px 51px;
    margin-left: -.3%;
}

footer .links{
    float: right;
    margin-right: 1%;
    padding: 9px 0;
}

footer .links a{
    color: #dddddd;
    text-decoration: none;
    margin-left: 6px;
}

footer .links a:first-child{
    margin-right: 5px;
    margin-left: 0;
}

.placement{
    position:absolute;
    top:0;
    left:50%;
    opacity:.3;
    background:transparent url('../img/placement.jpg') no-repeat;
    width:1200px;
    height:1513px;
    margin-left:-600px;
}

#dp_swf_engine{
    display:none;
}

@media only screen and (max-width: 900px){
    html, body{
        font-size:9px;
    }
}

@media only screen and (max-width: 800px){
    html, body{
        font-size:8px;
    }
}

@media only screen and (max-width: 660px){
    .background .top{
        margin-top:100px;
    }

    .background .bottom{
        height:30%;
    }

    header{
        height:60px;
    }

    header .logo{
        margin-left:4%;
    }

    header .logo img{
        height:60px;
    }

    header .links{
        font-size: 150%;
        letter-spacing: 0;
        margin-right: 4%;
        margin-top:23px;
    }

    header .links a{
        margin-left: 14px;
    }

    header .links a:first-child{
        margin-left: 0;
    }

    .title{
        margin-top: 30px;
        width: 400px;
        margin: 30px auto 0;
        max-width: 100%;
    }

    .instructions{
        width: 300px;
        font-size: 180%;
        margin-top: 37px;
    }

    .instructions .instruction1 .cta{
        width: 95px;
        background-size: 100%;
        height: 28px;
    }

    .container{
        padding:41px 0;
    }

    .sub-container{
        width:300px;
        height:300px;
    }

    .image-overlay{
        width: 300px;
        height: 300px;
        background-size: 100%;
    }

    .image-overlay-rocks{
        width: 320px;
        height: 380px;
        margin-left: -10px;
        margin-top: -40px;
        background-size: 100%;
    }

    .overlay-top{
        height: 243px;
    }

    .overlay-bottom{
        top: 536px;
    }

    .container .overlay-left{
        height: 300px;
        margin-left: -150px;
    }

    .container .overlay-right{
        height: 300px;
        margin-left: 150px;
    }

    .controls{
        margin-left: 40px;
    }

    .instructions .next,
    .instructions .cancel,
    .instructions .facebook,
    .instructions .instagram{
        width: 72px;
        height: 17px;
        padding-top: 6px;
        line-height: 14px;
        font-size: 80%;
    }

    .instruction5 .next,
    .instructions .facebook,
    .instructions .instagram{
        width:86px;
    }

    .instructions .clear{
        top: 41px;
        background-size: 100%;
        height: 16px;
        width: 66px;
    }

    .writing-text .write1{
        top: 5px;
        margin-left: 21px;
        margin-top: 12px;
        font-size: 50px;
        width: 258px;
    }

    footer .contents{
        padding-top:34px;
    }

    footer .contents .sub-contents{
        float:none;
        width:100% !important;
        padding-bottom:20px;
        border-right:none;
        border-bottom:1px solid #29282A;
    }

    footer .contents .sub-contents2{
        margin-top:21px;
        padding-left:0;
    }

    footer .contents .sub-contents3{
        margin-top:21px;
        border:none;
        padding-bottom:0;
        padding-left:0;
    }

    footer .contents .sub-contents3 .social{
        margin-top:15px;
    }

    footer .bottom{
        margin-top:25px;
    }
}

@media only screen and (max-width: 400px){
    header{
        height:40px;
    }

    header .logo img{
        height:40px;
    }

    header .links{
        font-size: 150%;
        margin-top:12px;
    }

    header .links a{
        margin-left: 7px;
    }

    .title{
        width: 350px;
    }

    .overlay-top{
        height: 216px;
    }

    .overlay-bottom{
        top:516px;
    }

    .instructions{
        width:280px;
    }

    .instructions .next,
    .instructions .cancel,
    .instructions .facebook,
    .instructions .instagram{
        width:66px;
    }

    .instruction5 .next,
    .instructions .facebook,
    .instructions .instagram{
        width:79px;
    }
}